<!--<!DOCTYPE html>-->
<!--<html>-->
<!--    <head>-->

<!--         <title>Ng'ara</title>-->
        
<!--          <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">-->
<!--          <link rel="stylesheet" href=" {{STATIC_URL}}https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">-->
<!--         </head>-->
        
         	
         
<!--  <body>-->
<!--      <nav class="navbar navbar-dark bg-dark">-->
<!--  <a class="navbar-brand" href="#">ABOUT</a>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--  <div class="collapse navbar-collapse" id="navbarText">-->
<!--    <ul class="navbar-nav mr-auto">-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="/">Home </a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="/about">ABOUT US <span class="sr-only">(current)</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="/service">SERVICE</a>-->
<!--      </li>- ->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="/contact">CONTACT</a>-->
        
<!--      </li>-->
<!--    </ul>-->
    <!--<span class="navbar-text">-->
    <!--  Navbar text with an inline element-->
    <!--</span>-->
<!--  </div>-->
<!--</nav>-->
   
          


<!--<div class="about">-->
<!--            <br>-->
<!--            <div class="about-us">-->
<!--                  <h2 >ABOUT US</h2>-->
<!--            </div>-->
<!--            <div class="introduction"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--            tempor incididunt ut labore et dolore magna aliqua. <br>    sUt enim ad minim veniam,-->
<!--            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
<!--            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--            consequat.</p></div>-->
<!--            <h3>Our Team</h3>-->
<!--            <div class="team">-->
<!--            <div class="person1" style="float: left;">-->
<!--            <div class="description"> <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
<!--            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--            </p></div>-->
<!--              <div class="person">-->
<!--            </div>-->
<!--            </div>-->

<!--            <div class="person2" style="float: right;">-->
<!--            <div class="description"><p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
<!--            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--            </p></div>-->
<!--              <div class="person">-->
<!--            </div>-->
<!--            </div>-->

<!--            <div class="person3" style="float: left;">-->
<!--            <div class="description"><p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
<!--            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--            </p></div>-->
<!--              <div class="person">-->
<!--            </div>-->
<!--            </div>-->

<!--            <div class="person4" style="float: right;">-->
<!--            <div class="description"><p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
<!--            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--            </p></div>-->
<!--              <div class="person">-->
<!--            </div>-->
<!--            </div>-->

<!--            <div class="person5" style="float: left;">-->
<!--            <div class="description"><p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
<!--            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--            </p></div>-->
<!--              <div class="person">-->
<!--            </div>-->
<!--            </div>-->

<!--            <div class="person6" style="float: right;">-->
<!--            <div class="description"><p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
<!--            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
<!--            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--            </p></div>-->
<!--              <div class="person">-->
<!--            </div>-->
<!--            </div>-->

<!--            </div>-->
<!--            </div>-->
<!--             <script src="{{STATIC_URL}}https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--            <script src=" {{STATIC_URL}}https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>-->
<!--            <script src="{{STATIC_URL}}https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>-->
<!--</body>-->

<!--</html>-->


