<!DOCTYPE html>
<html>
    <head>
        <title>service Page</title>
         
         <link rel="stylesheet" href=" {{STATIC_URL}}https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
         <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
        
    </head>
    <body>
  <nav class="navbar navbar-dark bg-dark">
  <!--<a class="navbar-brand" href="/">For querry call +254 702228727</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about" >ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/service">SERVICES</a>
        
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">CONTACT</a>
        
      </li>
      
  </div>
</nav>
        
 <div class="container">
<form  method="post"> 
    {% csrf_token %}
    {{ form }}
    
    <div class="row" style=" background-color: #4c97ae;color: #fff; ">
          <div class="col-sm-12 col-md-3"  ></div>
          <div class="col-sm-12 col-md-3"  style="margin-left: 20px; margin-right: 20px;margin-top: 70px;">
   <form method="post" action="/index" novalidate>
   <!--{% csrf_token %}-->
   <!-- {{ form }}-->
           
   
            

      <div class="form-group">
                    <input class="form-control" id="id_username" name="username" placeholder="Enter your name"
                           required="" type="text"
                          
                
                

      
                   <input class="form-control" id="id_username" name="email" placeholder="Enter your email"
                           required="" type="text">
                           
                   <input class="form-control" id="id_username" name="Phone number" placeholder="Enter Phone number"
                          type="text">
                          
                          
                   
                           
                           
                           
                            <input class="form-control" id="password" name="Enter password"
                           placeholder="Password"  type="password">
                          
                          
                </div>

                <button class="signupbtn" type="submit">Sign up</button>
            </div>

        </div>
        </form>
         <script src="{{STATIC_URL}}https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src=" {{STATIC_URL}}https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="{{STATIC_URL}}https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>
