<!DOCTYPE html>
<html>
    <head>
        <title>Contact Page</title>
         
         <link rel="stylesheet" href=" {{STATIC_URL}}https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
         <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
        
    </head>
    <body>
        
  <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Contact</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about" >ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/service">SERVICES</a>
        
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">CONTACT  <span class="sr-only">(current)</span></a>
        
      </li>
      
       <li class="nav-item">
        <a class="nav-link" href="/login">SIGN UP</a>
        
      </li>
    </ul>
  </div>
</nav>
           <div class="container">
  
<form  method="post"> 
    {% csrf_token %}
   
    {{ form }}
     
    <button type="submit">SEND MESSAGE</button>
<!--  <section>-->
<!--    <h2>Contact information</h2>-->
   
<!--    <p>-->
<!--      <label for="name">-->
<!--        <span>Name: </span>-->
<!--        <strong><abbr title="required">*</abbr></strong>-->
<!--      </label>-->
<!--      <input type="text" id="name" name="username">-->
<!--    </p>-->
<!--    <p>-->
<!--      <label for="mail">-->
<!--        <span>E-mail: </span>-->
<!--        <strong><abbr title="required">*</abbr></strong>-->
<!--      </label>-->
<!--      <input type="email" id="mail" name="usermail">-->
<!--    </p>-->
<!--    <p>-->
<!--      <label for="pwd">-->
<!--        <span>Password: </span>-->
<!--        <strong><abbr title="required">*</abbr></strong>-->
<!--      </label>-->
<!--      <input type="password" id="pwd" name="password">-->
<!--    </p>-->
<!--</section>-->
<!--<section>-->
<!--    <h2>Payment information</h2>-->
<!--    <p>-->
<!--      <label for="card">-->
<!--        <span>Card type:</span>-->
<!--      </label>-->
<!--      <select id="card" name="usercard">-->
<!--        <option value="visa">Visa</option>-->
<!--        <option value="mc">Mastercard</option>-->
<!--        <option value="amex">American Express</option>-->
<!--      </select>-->
<!--    </p>-->
<!--    <p>-->
<!--      <label for="number">-->
<!--        <span>Card number:</span>-->
<!--        <strong><abbr title="required">*</abbr></strong>-->
<!--      </label>-->
<!--        <input type="text" id="number" name="cardnumber">-->
<!--    </p>-->
<!--    <p>-->
<!--      <label for="date">-->
<!--        <span>Expiration date:</span>-->
<!--        <strong><abbr title="required">*</abbr></strong>-->
<!--        <em>formatted as mm/yy</em>-->
<!--      </label>-->
<!--      <input type="text" id="date" name="expiration">-->
<!--    </p>-->
<!--    <p> <button type="submit">Validate the payment</button> </p>-->
<!--</section>-->
</form>
</div>
        </header>
         <script src="{{STATIC_URL}}https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src=" {{STATIC_URL}}https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="{{STATIC_URL}}https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>
