
<!DOCTYPE html>


<html>
    <head>

         <title>Ng'ara</title>

          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          
          
        <link rel="stylesheet" href=" {{STATIC_URL}}https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="{{STATIC_URL}}css/main.css"> 
        
         </head>
         
         
         
        
  <body>
      
      
            
              
            <header>
             <div class="img">
              <img src="images/logo.png">
              </div>

  <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="media/logofull.png"></a>
  <a class="nav-brand" href="/login">LOGIN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/service">SERVICE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">CONTACT</a>
        
      </li>
         <li class="nav-item">
        <a class="nav-link" href="/login">SIGN UP</a>
        
      </li>
    </ul>
</div>
</nav>
           
            </header>
            <div class="jumbotron text-center">
            <img src="media/house_2Xk7nQt.png" width=100% />
            <!--<div class=" col-sm-12 col-md-12 text-center" style=" background-color: rgba(242, 85, 94, 0.4); padding-top: 250px; height: 500px; color: white; text-align: center;">-->
            <h1>NG'ARA</h1>
           <h2>A clean home is a happy home</h2>
           <button class="request"  style="margin-top: 20px;margin-right: 20px"><a href="#services">REQUEST BUTTON</a></button>
    
           </div>
    <!--<div class=" col-sm-12 col-md-12 text-center" style=" background-color: rgba(242, 85, 94, 0.4); padding-top: 250px; height: 500px; color: white; text-align: center;">-->
    
      
    </div>
            
          

        
  
            
                <!--<a href="index.html">-->
                <!--  <img src="media/logofull.png"></a>-->
   
    <!--<div class=" col-sm-12 col-md-4" >-->
    <!--  <div class="topnav" id="myTopnav" >-->
    <!--    <a href="/">HOME</a>-->
    <!--    <a href="/services">SERVICES</a>-->
    <!--    <a href="/contact">CONTACT</a>-->
    <!--    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>-->
    <!--  </div>-->
    <!--</div>-->
    <!--<div class=" col-sm-12 col-md-4">-->
    <!--    <button style="float: right;margin-right: 50px;margin-top: 20px;"><a href="login1.html">LOGIN</a></button>-->
    <!--</div> -->

  </div>
</div>

<!--<script>-->
<!--function myFunction() {-->
<!--    var x = document.getElementById("myTopnav");-->
<!--    if (x.className === "topnav") {-->
<!--        x.className += " responsive";-->
<!--    } else {-->
<!--        x.className = "topnav";-->
<!--    }-->
<!--}-->
<!--</script>-->

		
<!--      <div class="container-fluid" style=" width: 100%">-->
<!--          <div class="caption" style="text-align: center; padding: 30px; color: #ffffff; background-color: #193236;">GENERAL CLEANING AT 3% OFF-->
<!--          </div>-->
<!--          <div class="row" style=" background-color: #4c97ae;color: #fff; ">-->
<!--          <div class="col-sm-12 col-md-3"  ></div>-->
<!--          <div class="col-sm-12 col-md-3 " id="services"  style="margin-left: 20px; margin-right: 20px;margin-top: 70px;color: #fff">-->
  
  
<!--              <p>How many rooms?</p>-->
<!--              <button class="button button1">1</button>-->
<!--              <button class="button button2">2</button>-->
<!--              <button class="button button3">3</button>-->
<!--              <button class="button button4">4</button>-->
<!--              <button class="button button5">5</button>-->
<!--              <button class="button button6">6</button>-->
<!--              <p>How many hours?</p>-->
<!--              <select id="services" name="services"  style="margin-bottom: 10px;">-->
<!--              <option value="laundry"></option>-->
<!--              <option value="cleaning the house">2</option>-->
<!--              <option value="cleaning dishes">3</option>-->
<!--              <option value="cleaning dishes">4</option>-->
<!--              <option value="cleaning dishes">5</option>-->
<!--              <option value="cleaning dishes">6</option>-->
<!--              <option value="cleaning dishes">7</option>-->
<!--              <option value="cleaning dishes">8</option>-->
<!--              <option value="cleaning dishes">9</option>-->
<!--              <option value="cleaning dishes">10</option>-->
<!--              <option value="cleaning dishes">11</option>-->
<!--              <option value="cleaning dishes">12</option>-->
<!--            </select>-->
                
<!--            <p for="services">Services</p>-->
<!--            <select id="services" name="services" style="margin-bottom: 10px;">-->
<!--              <option value="laundry">Laundry</option>-->
<!--              <option value="cleaning the house">Kitchen</option>-->
<!--              <option value="cleaning dishes">compound</option>-->
<!--              <option value="cleaning dishes">Ironing</option>-->
<!--              <option value="cleaning dishes">general cleaning</option>-->
<!--            </select>-->
<!--            <p for="Services">Summary</p> -->
<!--            <textarea type="text" placeholder="Your message" style="margin-bottom: 50px"></textarea>-->
          
<!--        </div>-->

<!--   <div class="col-sm-12 col-md-3"></div> -->
<!--  <div class="col-sm-12 col-md-3"  style="; margin-left: 20px; margin-right: 20px;margin-top: 70px;">-->
<!--      <p style="color: #fff;">Personal details</p>-->
<!--      <input type="text" placeholder="Name" style="margin-top: 10px">-->
<!--      <input type="text" placeholder="Contact number" class="input" >-->
<!--      <input type="text" placeholder="Email" class="input">-->
<!--      <input type="text" placeholder="Location" class="input">-->
<!--      <input id="datepicker" class="input" placeholder="Date" style="margin-bottom: 100px">-->
      
    </div>
    <div class="col-sm-12 col-md-3" style=""></div>
</div>


</div>
<style>
p{
  line-height: 10px;
}
button {
    background-color: #193236;
    color: white;
    margin-top: 50px;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /*width: 50%;*/

}
form{
  width: 100%;
}
</style>
 <div class=" col-sm-12 col-md-4">
        <button style="float: right;margin-right: 50px;margin-top: 20px;"><a href="login1.html">LOGIN</a></button>
    </div> 

  </div>


   <div class=" row">
    <div class=" col-sm-12 col-md-12 image">

    <div class=" col-sm-12 col-md-12 text-center" style=" background-color: rgba(242, 85, 94, 0.4); padding-top: 250px; height: 500px; color: white; text-align: center;">
    <h1>NG'ARA</h1>
    <h2>A clean home is a happy home</h2>
    <button class="request"  style="margin-top: 20px;margin-right: 20px"><a href="#services">REQUEST BUTTON</a></button>
      
    </div>
</div>
</div>

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>

		
      <div class="container-fluid" style=" width: 100%">
          <div class="caption" style="text-align: center; padding: 30px; color: #ffffff; background-color: #193236;">GENERAL CLEANING AT 3% OFF
          </div>
          <div class="row" style=" background-color: #4c97ae;color: #fff; ">
          <div class="col-sm-12 col-md-3"  ></div>
          <div class="col-sm-12 col-md-3 " id="services"  style="margin-left: 20px; margin-right: 20px;margin-top: 70px;color: #fff">
  
  
              <p>How many rooms?</p>
              <button class="button button1">1</button>
              <button class="button button2">2</button>
              <button class="button button3">3</button>
              <button class="button button4">4</button>
              <button class="button button5">5</button>
              <button class="button button6">6</button>
              <p>How many hours?</p>
              <select id="services" name="services"  style="margin-bottom: 10px;">
              <option value="laundry"></option>
              <option value="cleaning the house">2</option>
              <option value="cleaning dishes">3</option>
              <option value="cleaning dishes">4</option>
              <option value="cleaning dishes">5</option>
              <option value="cleaning dishes">6</option>
              <option value="cleaning dishes">7</option>
              <option value="cleaning dishes">8</option>
              <option value="cleaning dishes">9</option>
              <option value="cleaning dishes">10</option>
              <option value="cleaning dishes">11</option>
              <option value="cleaning dishes">12</option>
            </select>
                
            <p for="services">Services</p>
            <select id="services" name="services" style="margin-bottom: 10px;">
              <option value="laundry">Laundry</option>
              <option value="cleaning the house">Kitchen</option>
              <option value="cleaning dishes">compound</option>
              <option value="cleaning dishes">Ironing</option>
              <option value="cleaning dishes">general cleaning</option>
            </select>
            <p for="Services">Summary</p> 
            <textarea type="text" placeholder="Your message" style="margin-bottom: 50px"></textarea>
          
        </div>

<!--   <div class="col-sm-12 col-md-3"></div> -->
  <div class="col-sm-12 col-md-3"  style="; margin-left: 20px; margin-right: 20px;margin-top: 70px;">
      <p style="color: #fff;">Personal details</p>
      <input type="text" placeholder="Name" style="margin-top: 10px">
      <input type="text" placeholder="Contact number" class="input" >
      <input type="text" placeholder="Email" class="input">
      <input type="text" placeholder="Location" class="input">
      <input id="datepicker" class="input" placeholder="Date" style="margin-bottom: 100px">
      
    </div>
    <div class="col-sm-12 col-md-3" style=""></div>
</div>


</div>
<style>
p{
  line-height: 10px;
}
button {
    background-color: #193236;
    color: white;
    margin-top: 50px;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /*width: 50%;*/

}
form{
  width: 100%;
}
</style>
 <div class=" col-sm-12 col-md-4">
        <button style="float: right;margin-right: 50px;margin-top: 20px;"><a href="login1.html">LOGIN</a></button>
    </div> 

  </div>


<!--   <div class=" row">-->
<!--    <div class=" col-sm-12 col-md-12 image">-->

<!--    <div class=" col-sm-12 col-md-12 text-center" style=" background-color: rgba(242, 85, 94, 0.4); padding-top: 250px; height: 500px; color: white; text-align: center;">-->
<!--    <h1>NG'ARA</h1>-->
<!--    <h2>A clean home is a happy home</h2>-->
<!--    <button class="request"  style="margin-top: 20px;margin-right: 20px"><a href="#services">REQUEST BUTTON</a></button>-->
      
<!--    </div>-->
<!--</div>-->
<!--</div>-->

<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>

		
      <div class="container-fluid" style=" width: 100%">
          <div class="caption" style="text-align: center; padding: 30px; color: #ffffff; background-color: #193236;">GENERAL CLEANING AT 3% OFF
          </div>
          <div class="row" style=" background-color: #4c97ae;color: #fff; ">
          <div class="col-sm-12 col-md-3"  ></div>
          <div class="col-sm-12 col-md-3 " id="services"  style="margin-left: 20px; margin-right: 20px;margin-top: 70px;color: #fff">
  
  
              <p>How many rooms?</p>
              <button class="button button1">1</button>
              <button class="button button2">2</button>
              <button class="button button3">3</button>
              <button class="button button4">4</button>
              <button class="button button5">5</button>
              <button class="button button6">6</button>
              <p>How many hours?</p>
              <select id="services" name="services"  style="margin-bottom: 10px;">
              <option value="laundry"></option>
              <option value="cleaning the house">2</option>
              <option value="cleaning dishes">3</option>
              <option value="cleaning dishes">4</option>
              <option value="cleaning dishes">5</option>
              <option value="cleaning dishes">6</option>
              <option value="cleaning dishes">7</option>
              <option value="cleaning dishes">8</option>
              <option value="cleaning dishes">9</option>
              <option value="cleaning dishes">10</option>
              <option value="cleaning dishes">11</option>
              <option value="cleaning dishes">12</option>
            </select>
                
            <p for="services">Services</p>
            <select id="services" name="services" style="margin-bottom: 10px;">
              <option value="laundry">Laundry</option>
              <option value="cleaning the house">Kitchen</option>
              <option value="cleaning dishes">compound</option>
              <option value="cleaning dishes">Ironing</option>
              <option value="cleaning dishes">general cleaning</option>
            </select>
            <p for="Services">Summary</p> 
            <textarea type="text" placeholder="Your message" style="margin-bottom: 50px"></textarea>
          
        </div>

<!--   <div class="col-sm-12 col-md-3"></div> -->
  <div class="col-sm-12 col-md-3"  style="; margin-left: 20px; margin-right: 20px;margin-top: 70px;">
      <p style="color: #fff;">Personal details</p>
      <input type="text" placeholder="Name" style="margin-top: 10px">
      <input type="text" placeholder="Contact number" class="input" >
      <input type="text" placeholder="Email" class="input">
      <input type="text" placeholder="Location" class="input">
      <input id="datepicker" class="input" placeholder="Date" style="margin-bottom: 100px">
      
    </div>
    <div class="col-sm-12 col-md-3" style=""></div>
</div>


</div>
<style>
p{
  line-height: 10px;
}
button {
    background-color: #193236;
    color: white;
    margin-top: 50px;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /*width: 50%;*/

}
form{
  width: 100%;
}
</style>
<div class="row" style="background-color: #193236; color: white; height: 300px; width: 100%">

  <div class="col-sm-12 col-md-4" id="contact"></div>
  <div class="col-sm-12 col-md-4" style="text-align:center; margin-top: 20px;">
  <br>
    <h5 class="talk">LET'S TALK</h5>
    <p>
      <span><a href="" style="color: white;">ngaraservice@gmail.com</a></span>
    </p>
    <p>
      <span>
      Tel:
      <tel>+254 702228727</tel>
      </span>
    </p>
    <p>
      <span>
     
      Nairobi,Kenya
      </span>
    </p>

    <h6>
      <i class="fa-fa-map-marker">
      </i>
      NG'ARA OFFICE
      <br>

    </h6>
    <p>
      <span>
        6th floor Senteu Plaza
        lenana road.
      </span>
    </p>
  </div>
  <div class="col-sm-12 col-md-4"></div>
  
 
</div>



     <script src="{{STATIC_URL}}https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src=" {{STATIC_URL}}https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="{{STATIC_URL}}https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
  
<html>


        
